*{
  box-sizing: content-box;
}
.page{
  margin: 110px 150px 50px;
  border-color: rgba(251, 251, 251, 0.13);
  border-style: groove;
  padding: 40px;
  min-height: 100px;
  height: auto !important;
}
.row{
  height:auto;
  min-height:350px;
  height:auto !important;        /* for IE as it does not support min-height */
  height:350px;
}
.image{
  padding: 20px;
}
.text{
  padding: 10px 30px 30px;
  margin-left: 20px;
}
.span{
  margin:10px;
}
