<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Acceuil</a>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['about']">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['contact']">Contact</a>
      </li>
      <!--<li class="nav-item">-->
        <!--<a class="nav-link" [routerLink]="['login']">Connexion</a>-->
      <!--</li>-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Espace client
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" data-toggle="modal" [routerLink]="['login']">Connexion</a>
          <a class="dropdown-item" data-toggle="modal" [routerLink]="['signup']">Inscription</a>
        </div>
      </li>
    </ul>

  </div>
</nav>

