<!--<footer class="navbar navbar-toggleable-md navbar-inverse bg-inverse footer">-->
  <footer class="footer navbar">

  <div class="footer-top-layout">
    <div class="container">
      <div class="row">
          <div class="col">
            <div class="col offset-md-4"></div>
            <div class="col offset-md-4">
              <a [routerLink]="['contact']">Contact</a>
            </div>
          </div>
          <div class="col">
            <div class="col offset-md-4"></div>
            <div class="col offset-md-4">
             <a [routerLink]="['login']">Connexion</a>
            </div>
          </div>
          <div class="col">
            <div class="col offset-md-4"></div>
            <div class="col offset-md-4">
             <a [routerLink]="['signup']">Inscription</a>
            </div>
          </div>
      </div>
    </div>
  </div>

<div class="footer-bottom-layout">
  <div class="copyright mx-auto">
    &copy; All rights reserved 2017
  </div>
</div>

</footer>
