.navbar-brand{
  margin-left: 48px;
}
.navbar-nav {
  margin-left: 970px;
}
.footer {
  width: 100%;
  padding: 0px;
}
.footer-top-layout {
  background: #1c1c1c none repeat scroll 0 0;
  color: #ffffff;
  padding: 10px 0;
}
.footer-bottom-layout {
  background: #222222 none repeat scroll 0 0;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom-layout {
  text-align: center;
}
.row{
  width: 100%;
}
.col a{
  color: white;
  text-decoration: none;
}
 a:hover{
   color: white;
   text-decoration: none;
}
.copyright {
  color: white;
  font-size: 14px;
}
















