<div class="container">

  <div class="background">
    <div class="logo">
      <!--<img src="/assets/img/kimevents-logo.png" class="img">-->

    </div>
    <div class="image"></div>
  </div>
  <div class="about">
    <div class="about-title">
      <h4>About Us</h4>
    </div>

    <div class="section">
     <p id="text-left">
       Vous êtes à la recherche d’une boite de communication créative et innovante ?
       Vous êtes bien sur le bon site, car notre agence n’a rien de classique et surtout n'a rien d’ordinaire.
     <br><br>
       Kim Events est un espace où les idées innovantes, fascinantes naissent, où notre amour et admiration des nouvelles technologies se manifeste à des actions captivantes.
     </p>
     <p id="text-right">
       Notre histoire est notre fierté :
        <br><br>
       Kim Events a vu le jour en septembre 2006, spécialisée dans l'événementiel,
       plusieurs années ont passés et	notre équipe et notre ambition n’ont cessé de se développer de jour en jour,
       d’abord sur le volet design dû à l’importance du visuel dans la mémorisation de l’information,
       ensuite le volet digital qui a été une partie incontournable de notre activité et en fin le volet de conseil qui fut créé suite à plusieurs expériences dans ce domaine.
     </p>
    </div>

    <div class="services">
    <div class="services-title">
      <h4>Our Services</h4>
    </div>
      <div class="services-blocks">
        <div class="d-inline-block">
          <div class="flip-container">
            <div class="flipper">
              <div class="front" style="">
                <h3>Consulting</h3>
                <p>"L'essence de la stratégie est le choix d'accomplir ses activités d'une manière différente de celle de ses concurrents." </p>
                <br>
                <strong>Michaël Porter</strong>
              </div>
              <div class="back">
                <div class="img-logo">
                <img src="/assets/img/consulting.png" style="width: 100px; height: 100px;background-color: peachpuff;border-radius: 50%;">
                </div>
                <br>
                <ul>
                <li>Audit, benchmarking & veille</li>
                <li>Stratégie de communication</li>
                <li>Accompagnement & conseil</li>
                <li>Gestion de campagnes</li>
                <li>Plan média</li>
                <li>Positionnement</li>
                <li>Concepts et campagnes publicitaires multi-canal</li>
                <li>Analyses marketing</li>
                <li>Achat d'espaces</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="d-inline-block">
          <div class="flip-container">
            <div class="flipper">
              <div class="front">
                <h3>Design</h3>
                <p>"Il y a trois réponses possibles à une pièce de design – oui, non, et WOW! Wow est la réaction que vous devez rechercher."</p>
                <br>
                <strong>Paul Rand</strong>
              </div>
              <div class="back">
                <div class="img-logo">
                  <img src="/assets/img/web-design.png" style="width: 100px;height: 100px;background-color: cyan; border-radius: 50%;">
                </div>
                <br>
                <ul>
                  <li>Création de Logos</li>
                  <li>Charte graphique</li>
                  <li>Signalétiques</li>
                  <li>Identité graphique de la marque</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="d-inline-block">
          <div class="flip-container">
            <div class="flipper">
              <div class="front">
                <h3>Digital Marketing</h3>
                <p>" Il n'y a de publicité aussi puissante qu'une bonne réputation qui voyage rapidement."</p>
                <br>
                <strong>Brian Koslow</strong>
              </div>
              <div class="back">
                <div class="img-logo" style="display: block;margin: 20px auto auto;width: 130px;">
                  <img src="/assets/img/digital-marketing.png" style="width: 130px;height: 90px;">
                </div>
                <br>
                <ul>
                  <li>Stratégie marketing & digitale : conseil & accompagnement</li>
                  <li>Création de sites internet vitrines, e-commerce & mobile</li>
                  <li>Développement & CMS</li>
                  <li>Graphisme, webdesign & responsive design</li>
                  <li>E-marketing, m-marketing et jeux concours</li>
                  <li>Campagnes e-mailing</li>
                  <li>Référencement & visibilité</li>
                  <li>Social media & réseaux sociaux</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="d-inline-block">
          <div class="flip-container">
            <div class="flipper">
              <div class="front">
                <h3>Evènementiel</h3>
                <p>"Ce sont les événements qui commandent aux hommes et non les hommes aux événements."</p>
                <br>
                <strong>de Hérodote</strong>
              </div>
              <div class="back">
                <div class="img-logo">
                  <img src="/assets/img/event-plan.png" style="width: 100px;height: 100px;background-color: #a0eca3; border-radius: 50%;">
                </div>
                <br>
                <ul>
                  <li>Création d'événements d'entreprises</li>
                  <li>Recherche de lieux, logistique</li>
                  <li>Campagnes de communication événementielle</li>
                  <li>Production d'événements sur-mesure</li>
                  <li>Coordination de tous les prestataires</li>
                  <li>analyse des retombées</li>
                  <li>Créativité, innovation & émotions</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
   </div>

  </div>

</div>
