<div class="page">
  <div class="row">
    <div class="image col-md-4" [ngStyle]="{'background-image':''}">
    </div>
    <div class="text col-md-6">
      <h2>Titre</h2>
      <div class="span">
        test
      </div>
      <div class="description">
        <p>Coactique aliquotiens nostri pedites ad eos persequendos scandere
          clivos sublimes etiam si lapsantibus plantis fruticeta prensando
          vel dumos ad vertices venerint summos, inter arta tamen et invia nullas
          acies explicare permissi nec firmare nisu valido gressus: hoste discursatore
          rupium abscisa volvente, ruinis ponderum inmanium consternuntur, aut ex
          necessitate ultima fortiter dimicante, superati periculose per prona discedunt.
        </p>
      </div>
      <button type="button" class="btn btn-info">Select this offer</button>
    </div>
  </div>
</div>
