<div class="page">
  <div class="row">
    <div class="image col-md-4" [ngStyle]="{'background':' '+advantage?.color+' url('+advantage?.src+')center center no-repeat / 50px'}"></div>
    <div class="text col-md-6">
      <h2>{{advantage?.titr}}</h2>
      <div class="span">      </div>
      <div class="description" *ngFor="let l of advantage?.liste">
        <ul>
          <li>{{l}}</li>
        </ul>
      </div>
      <button type="button" class="btn btn-info">Select this offer</button>
    </div>
  </div>
</div>

