<div class="home">

  <div class="album text-muted">
  <div class="container-fluid">

    <div class="row">
      <app-slider [slides]="slides" [titleH2]="titleH2" [titleH3]="titleH3"  style="margin: auto;"></app-slider>
    </div>

    <div class="row" style="background-color:#f5ecf3;height: 250px;">
       <app-preface></app-preface>
    </div>

    <div class="row" style="background-color:#ffffff;padding: 40px 0px;">

      <div class="advantages" align="center">
        <h1>Pourquoi choisir Seating Plan ?</h1>
        <span style="font-size:59%">Notre objectif est d'offrir à nos clients des produits et services de qualité supérieure.</span>
      </div>
      <app-advantages
        show-visible
        class="col-lg-3 col-md-offset-1 fadeInDown app-ad"
       *ngFor="let ad of advantages"
       [titre]="ad.titr"
       [src]="ad.src"
       [color]="ad.color"
       [liste]="ad.liste"
       [button]="ad.button">
      </app-advantages>

    </div>

    <div class="row" style="background-color:#f3fff6;padding: 40px 0px 65px;">

      <div class="offres">
        <h1>Nos Offres</h1>
      </div>

      <product
        class="col-lg-3 col-md-4 col-sm-6"
        *ngFor="let p of products"
        [id]="p.id"
        [titre]="p.titre"
        [imgUrl]="p.imgUrl"
        [description]="p.desc"
        [rating]="p.rating">
        <!--<video src="" ></video>-->
      </product>

    </div>

  </div>
</div>

</div>
