.home{
  margin-top: 56px;
}
.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}
.jumbotron p:last-child {
  margin-bottom: 0;
}
.jumbotron-heading {
  font-weight: 300;
}
.jumbotron .container {
  max-width: 40rem;
}
.album {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #f7f7f7;
}
.offres{
  width: 1345px;
  height: 70px;
  margin-bottom: 25px;
}
.offres h1{
  text-align: center;
  color: white;
  font-size: 300%;
  font-family: 'Source Sans Pro', sans-serif;
}
.advantages{
  width: 1345px;
  height: 70px;
  margin-bottom: 35px;
}
.app-ad{

  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
.advantages h1{
  font-size: 1.75rem;
  color: silver;
}
.advantages h1::after{
  content: "-";
  display: block;
  height: 4px;
  overflow: hidden;
  position: relative;
  text-indent: -999em;
  bottom: -8px;
  width: 7%;
  opacity: 0.5;
  border-bottom: 2px solid;
}
