.title-header {
  padding: .75rem 1.25rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid transparent;
}
.title-header h3 {
  font-size: 0.80rem;
  margin: 0;
}
.offers {
  margin-top: 2rem;
  float: left;
  padding: .75rem;
  margin-left: 0.15rem;
  margin-bottom: 2rem;
  border: 0; width: 100%;
}
.img-card {
  width: 100%;
  margin-bottom: .40rem;
  height: 250px;
}
.img-card h3{
  text-align: center;
  margin-top: 20px;
}
.offers {
  margin-bottom: .60rem;
  -webkit-animation: flash linear 2s;
  animation: flash linear 2s;
}
@-webkit-keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}
@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}
