 <section class="offers" id="offers">

    <article class="card" *ngIf="rating=='gold';else elseBlock" [ngStyle]="{'transform': 'scale(1.15)', 'box-shadow': '1px 0px 30px rgba(0,0,0,.5)'}">
      <div class="img-card" [ngStyle]="{'background-image':'url('+imgUrl+')'}">
          <h3>{{titre}}</h3>
      </div>
      <div class="card-block">
        <p class="tagline card-text text-xs-center" style="padding: 10px;font-family: monospace;">{{description}}</p>
        <p>{{rating}}</p>
        <ng-content></ng-content>
        <a [routerLink]="['details',id]" class="btn btn-outline-success btn-block">View this offer</a>
      </div>
    </article>


    <article class="card" #elseBlock *ngIf="rating=='silver' || 'bronze' && rating!='gold'" [ngStyle]="{'box-shadow': '1px 0px 20px rgba(0,0,0,.5)'}">
      <div class="img-card" [ngStyle]="{'background-image':'url('+imgUrl+')'}">
        <h3>{{titre}}</h3>
      </div>
      <div class="card-block">
        <p class="tagline card-text text-xs-center" style="padding: 10px;font-family: monospace;">{{description}}</p>
        <p>{{rating}}</p>
        <ng-content></ng-content>
        <a [routerLink]="['details',id]" class="btn btn-outline-success btn-block">View this offer</a>
      </div>
    </article>

  </section>
